<div class="block block-bordered-lg">
  <div class="container text-center app-translate-15" data-transition="entrance">
    <blockquote class="pull-quote">
      <img class="rounded-circle" src="/media/img/contoso.jpg">
      <p>
        “We were able to save 30% of our cooling costs during summer immediately after installing the Airal system. After adjusting and monitoring, we were able to jump to a 40% savings in the following summer.”
      </p>
      <cite>Mark Graham, COO of Contoso LLC</cite>
    </blockquote>
  </div>
</div>